button.original {
	font-family: gentium;
	font-size: 16pt;
}
button.primary {
	font-size: 16pt;
}
button.secondary {
	font-size: 10pt;
}
div.original {
	margin: 0;
	padding: 0;
	text-align: right;
}
button.translation {
	font-family: helvetica, sans-serif;
	font-size: 16pt;
}
div.translation {
	margin: 0;
	padding: 0;
	text-align: left;
}
button.selected {
	background-color: orange;
}
div.link {
	margin-bottom: 1em;
	border: solid orange 1px;
	border-radius: 5px;
}
div.link-current {
	background-color: orange;
}
div.link-original {
	text-align: right;
}
div.link-kind {
	text-align: center;
}
div.link-translation {
	text-align: left;
}
button.link-original-word {
	font-family: gentium;
}
button.link-translation-word {
	font-family: helvetica, sans-serif;
}
button.link-kind {
	font-family: helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bold;
}
